


.headerWeather {
    background-image: linear-gradient(to right, rgb(37, 13, 75) , rgb(0, 36, 194));
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}